<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        
        <!-- <i><a href='https://orcid.org/userStatus.json?logUserOut=true'></a></i> -->
  
        <a href="/" onclick="fetch">Sign out</a>
       
<script>
  // 
  
fetch('https://orcid.org/userStatus.json?logUserOut=true',{
                mode: 'no-cors',
                headers: {Accept: 'application/json'},
                credentials: 'include'})
            // .then(function (response) {
            //     return response.json();
            // })
            .then(response=> response.json())
            .then(function (data) {
                if (data.loggedIn === false) {
                    document.getElementById('logOutAttemptResult').innerText = 
                    'The javascript fetch method was used to request https://orcid.org/userStatus.json?logUserOut=true';
                }
            })
            .catch(function (err) {
                console.log(err);
            });
        
      console.log('User signed out.');

    
</script>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>