{% extends "base.html" %}
{% load static %}

{% block content %}

  <form class="w3-margin" action="{% url 'source-list' %}" method="GET">
    <label for="source-query">Select a source:</label>
    <select name="source" id="source-query">
      {% for source in sources %}
        <option value="{{ source.id }}">{{source.name}}</option>
      {% endfor %}
    </select>
    <button class="w3-btn w3-blue w3-round-large" type="submit">Get list</button>
  </form>

  <table class="w3-margin w3-table-all w3-hoverable center">
    <tr>
      <th class="w3-center">id</th>
      {% for source_field in source_fields %}
        <th class="w3-center">{{ source_field.name }}</th>
      {% endfor %}
    </tr>
    {% for entity in page_obj %}
      <tr class="w3-center">
        <td class="w3-center">
          <a style="display: block; width: 100%; height: 100%; text-decoration: none;">{{ entity.id }}</a>
        </td>
        {% for data_value in source_entity_data|get_item:entity %}
          <td class="w3-center">{{ data_value }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

  {% if page_obj.has_other_pages %}

    <div class="w3-bar w3-center">
      {% if page_obj.has_previous %}
        <a class="w3-button" href="?source={{ selected_source.id }}&page=1">First</a>
        <a class="w3-button" href="?source={{ selected_source.id }}&page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="w3-button w3-dark-grey w3-margin" href="?source={{ selected_source.id }}&page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
          <a class="w3-button" href="source={{ selected_source.id }}&?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor%}

      {% if page_obj.has_next %}
        <a class="w3-button" href="?source={{ selected_source.id }}&page={{ page_obj.next_page_number }}">Next</a>
        <a class="w3-button" href="?source={{ selected_source.id }}&page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>

  {% endif %}

  <script>var current_source_id = "{{ selected_source.id }}";</script>
  <script type="text/javascript" src="{% static 'source_list.js' %}"></script>

{% endblock content%}

