{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src = 'https://code.jquery.com/jquery-3.3.1.min.js'></script> 
  </head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  {% block content %}
  {% csrf_token %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">traitvalues</button>
  </form>
  {% csrf_token %}
  <form method="get">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">traitvalues</button>
  </form>
{% endblock %}
  {{traitvalues}}
  <script>
      const vals = `{{traitvalues}}`
      console.log(vals)
  </script>
{% endblock content %} 