{% extends "base.html" %} {% block content %} {% load static %}

<head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
</head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<h2>Parse the uploaded text</h2>

<style>
    .hl {
        background: #ffffff;
    }
    
    .hl:hover {
        background: #95db79;
    }
</style>

{% if user.is_authenticated %}
<p> {{user}} logged in</p>
<br><br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit">Parse!</button>
</form>
<br>
<center>
    <br> {% if sentences %}

    <script>
        // var traitvalues = {};
        let word = "";
        const sentence_array = []
            //let sentence = "";
            //var sentences1 = '{{sentences}}';
            // console.log((sentences1).constructor.name)
            // var stringarr = sentences1.toString();
    </script>
    <h3>Sentences with potential trait data:</h3>
    <h4>Select a traitname </h4>
    <br>
    <script>
        // Function to get the Selected Text 
        function getSelectedText() {
            var selectedText = '';

            // window.getSelection
            if (window.getSelection) {
                selectedText = window.getSelection();
            }
            // document.getSelection
            else if (document.getSelection) {
                selectedText = document.getSelection();
            }
            // document.selection
            else if (document.selection) {
                selectedText =
                    document.selection.createRange().text;
            } else return;
            // To write the selected text into the textarea
            console.log(selectedText)

            document.testform.selectedtext.value = selectedText;
        }
    </script>
    <!-- <script>
        // Here the value is stored in new variable x 
        var i = 0;

        function getTraitValue() {

            var x =
                document.getElementById("trait_value").value;

            document.getElementById("trait").innerHTML = x;
            console.log(x)
            i++;
            traitvalues[sentences[index - 1]] = x;
            console.table(traitvalues)


        }
    </script> -->
    <H4 id="trait"></H4>
    {% for sent in sentences %}
    <script type="text/javascript">
        sentence = "{{ sent}}";
        //console.log(sentence)
        sentence_array.push(sentence)
    </script>
    <p></p>
    {% endfor %}
    <script>
        const sentences = sentence_array
        let index = 0

        function loop() {
            //console.log('loop kutsuttu')
            document.getElementById("element").innerHTML = sentences[index]
            index++
        }
    </script>
    <script>
        function getCookie(name) {
            let cookie = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return cookie ? cookie[2] : null;
        }
        // var data = {
        //     traitvalues
        //     // "sentences": sentence_array[0],
        //     // "traitvalue": "test_value"
        // };

        function fetchTraitValues() {
            URL = "{% url 'ajax_url' %}"
            let trait_value = document.getElementById("trait_value").value
            var data = {
                sentence: sentence_array[index - 1],
                trait_value: document.getElementById("trait_value").value
            };
            fetch(URL, {
                    method: 'post',
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                        'Accept': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                .then((res) => {
                    return res.json()
                })
                .then(json => {
                    var userChoice;
                    if (confirm(`Do you want to save ${trait_value}?`) == true) {
                        userChoice = `${trait_value} saved succesfully`;
                    } else {
                        userChoice = "Save Cancelled!";
                        break;
                    }

                })
                .catch(err => {
                    window.alert(`Error: ${err}`, 'danger');
                    console.log(err)
                });
        }
    </script>
    <div id="element"></div>
    <button onclick="loop()">Show next sentence</button>

    <input type="button" value="Get Selection" onmousedown="getSelectedText();fetchTraitValues()">
    <form name="testform">
        <textarea name="selectedtext" id="trait_value" rows="5" cols="20"></textarea>
    </form>
    <!-- <input type="button" onmousedown="fetchTraitValues()" value="Confirm Selection"> -->

</center>


{% endif %} {% csrf_token %}
<br><br>
<input type=button value="Previous Page" onClick="javascript:history.go(-1);"> {% else %}
<p>Please login first</p>
{% endif %} {% endblock content %}


<!-- <script>
var a = document.getElementsByTagName("ol")[0].getElementsByTagName('li');

// function getValue() {
//   var retVal = prompt(JSON.innerHTML,  "traitvalue");
//   document.write("You have entered : " + retVal);
// }

var traitvalues = {};
for (var i = 0; i < a.length; i++) {
    a[i].onclick = function() {
        let foo = prompt(this.innerHTML, "TRAITVALUE")
        let bar = confirm(`TRAITVALUE: ${foo}`);
        console.log(foo, bar);
        if (bar) {
            traitvalues[this.innerHTML] = `${foo}`
        }
        console.table(traitvalues)
            // document.write(foo, bar);
        URL = "{% url 'ajax_url' %}"
        console.log('traitvalues', traitvalues)
            // fetch(URL, {
            //         method: 'POST',
            //         credentials: 'same-origin',
            //         headers: {
            //             'Accept': 'application/json',
            //             'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            //             'X-CSRFToken': '{{ csrf_token }}',
            //             'csrfmiddlewaretoken': ' {{csrf_token}}'
            //         },
            //         body: JSON.stringify({
            //                 data: {
            //                     'traitvalues': traitvalues
            //                 }
            //             }) //JavaScript object of data to POST
            //     })
            //     .then(response => {
            //         return response.json() //Convert response to JSON
            //     })
            //     .then(data => {
            //         //Perform actions with the response data from the view
            //     })
        $.ajax({
            url: "{% url 'ajax_url' %}",
            type: 'GET',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            headers: {
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                'X-CSRFToken': '{{ csrf_token }}',
            },
            data: {
                'traitvalues': traitvalues
            },
        });

    }
}
</script> -->