{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    input[type=submit] {
    width: 9em;  height: 3em;
    background-color:rgb(64, 125, 204);
}
p {
    font-size: medium;
}
</style>
<h2>Please enter the page number for a table</h2>
{% if user.is_authenticated %}
<p> <b></b></p>
    
<p>File Url: <a href="{{ url}}" target="_blank" rel="noopener noreferrer" >{{url}}" </a></p>
     <form action="/page_number/" method="get">
        {% csrf_token %}
        <label for="element_id"> <b>Page Number</b></label>
        <input id="element_id" type="number" name="page_number" value="required">
        <input type="submit" value="OK">
    </form>
 
    <br>
    <a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
    <br>
    {% endif %}
{% endblock content %}
