{% extends "base.html" %} {% block content %} {% load static %} {% if user.is_authenticated %}

<h1>Tables</h1>
<script>
    var
        listOfTables =
        '{{table_list}}'
    console.log(listOfTables.constructor.name)
</script>
<table>
    {% for table in table_list %}
    <tr>
        <ol>
            <td>{{ table }}</td>
    </tr>
</table>
<script>
    var table = '{{table}}'
    var items = table.split(',');


    var i = 0,
        result = [];

    while (i < items.length) {

        result.push([])
        for (var key in items[i].fields) {
            result[result.length - 1].push(items[i].fields[key])
        }
        i++
    }

    document.write(JSON.stringify(result, null, 4));
</script>
{% endfor %}

<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br> {% endif %} {% endblock content %}