{% extends "base.html" %} {% block content %} {% load static %} {% if user.is_authenticated %} {% if jobs == '1' %} {% include "data1.html" %}
<script>
    var data1 = '{{ data1.html }}'
    console.table(data1)
</script>
{% endif%} {% if jobs == '2' %} {% include "data1.html" %}
<p></p>
<p></p>
{% include "data2.html" %} {% endif%} {% if jobs == '3' %} {% include "data1.html" %}
<p></p>
<p></p>
{% include "data2.html" %}
<p></p>
<p></p>
{% include "data3.html" %} {% endif%}
<p></p>
<p></p>
{% if jobs == '4' %} {% include "data1.html" %}
<p></p>
<p></p>
{% include "data2.html" %}
<p></p>
<p></p>
{% include "data3.html" %}
<p></p>
<p></p>
{% include "data4.html" %} {% endif%}
<p></p>
<p></p>
<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br> {% endif %} {% endblock content %}