{% extends "base.html" %} {% block content %} {% load static %} {% if user.is_authenticated %}

<h1>Tables</h1>

<script>
    // Function to get the Selected Text 
    function getSelectedText() {
        var selectedText = '';
        // window.getSelection 
        if (window.getSelection) {
            selectedText = window.getSelection();
        } // document.getSelection 
        else if (document.getSelection) {
            selectedText = document.getSelection();
        } // document.selection 
        else if (document.selection) {
            selectedText = document.selection.createRange().text;
        } else return; // To write the selected text into the textarea 
        document.testform.selectedtext.value = selectedText;
    }
</script>
<script>
    var
        listOfTables =
        '{{table_list}}'
    console.log(listOfTables.constructor.name)
</script>
<table border="1" class="dataframe">
    {% for table in table_list %} {{ table }}
    <thead>
        <th></th>
    </thead>

</table>
<p id="table"></p>
<script>
    var table = '{{table}}'
    var items = table.split(',');
    let x = ""
    for (i in items) {
        console.log(JSON.stringify(items[i]))
        x += items[i] + "<br>";
    }
    document.getElementById("table").innerHTML = x;
</script>

{% endfor %}

<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br> {% endif %} {% endblock content %}