{% extends "base.html" %}
<p></p>
<p></p>
{% block content %}
<p></p>
<p></p>
{% load static %}
<p></p>
<p></p>
{% if user.is_authenticated %}
<script>
    function htmlDecode(str) {
        const doc = new DOMParser().parseFromString(str, "text/html");
        return doc.documentElement.textContent;
    }
</script>
<h1>Tables in Table_list</h1>
<table>
{% for key,value in data.attributes.items %}
    <tr>
        <td>{{key}}</td><td>{{value}}</td>
    </tr>
{% endfor %}
</table>
{% for table in table_list %}
<p>{{table}}</p>
<script>
var DATA = htmlDecode('{{table}}')
var arr_data = DATA.split('},')
for (var i in arr_data){
    console.log(arr_data[i])
}
</script>
<script charset='charset="utf-8"'>
    var table = '{{table}}'
    var a = htmlDecode(table)
    console.log('is this code reacheable?')
    console.log(table.constructor.name)
    var b = table.split('},')
    console.table(htmlDecode(b));
</script>{% empty %}
<p></p>
<p></p>
{% endfor %}
<p></p>
<p></p>

<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br>
{% endif %}
{% endblock content %}