{% extends "base.html" %} {% block content %} {% load static %} {% if user.is_authenticated %}
<script charset="utf-8">
    var a = '{{html_list}}'
    var b = '{{json_list}}'
    var c = '{{ table_list }}'
    console.log('a ', JSON.stringfy(a))
    console.log('b ', JSON.stringify(b))
    console.log('c', JSON.stringfy(c))
</script>{% if jobs == '1' %} {% include "data1.html" %} {% endif%} {% if jobs == '2' %} {% include "data1.html" %}
<p></p>
<p></p>
{% include "data2.html" %} {% endif%} {% if jobs == '3' %} {% include "data1.html" %}
<p></p>
<p></p>
{% include "data2.html" %}
<p></p>
<p></p>
{% include "data3.html" %} {% endif%}
<p></p>
<p></p>
{% if jobs == '4' %} {% include "data1.html" %}
<p></p>
<p></p>
{% include "data2.html" %}
<p></p>
<p></p>
{% include "data3.html" %}
<p></p>
<p></p>
{% include "data4.html" %} {% endif%}
<p></p>
<p></p>
<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br> {% endif %} {% endblock content %}