{% extends "base.html" %} {% block content %} {% load static %} {% if user.is_authenticated %}

<h1>Tables</h1>


{% if jobs == '1' %} {% include "table1.html" %} {% endif%} {% if jobs == '2' %} {% include "table1.html" %}
<p></p>
<p></p>
{% include "table2.html" %} {% endif%} {% if jobs == '3' %} {% include "table1.html" %}
<p></p>
<p></p>
{% include "table2.html" %}
<p></p>
<p></p>
{% include "table3.html" %} {% endif%}
<p></p>
<p></p>
{% if jobs == '4' %} {% include "table1.html" %}
<p></p>
<p></p>
<table></table>
{% include "table2.html" %}
<p></p>
<p></p>
<table>
    {% include "table3.html" %}
    <p></p>
    <p></p>
</table>
{% include "table4.html" %} {% endif%}



<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br> {% endif %} {% endblock content %}