{% extends "base.html" %}
{% block content %}
{% load static %}
<title>TableView </title> 

<meta charset="utf-8"> 

<meta name="viewport" content="width=device-width, initial-scale=1"> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 
<p></p>
<p></p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<head> 

  <title>TableView </title> 

  <meta charset="utf-8"> 

  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 
  <style>

table.tableSection {
    display: table;
    width: 100%;
}
table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection tbody {
    overflow: auto;
    height: 150px;
}
table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.tableSection th, table.tableSection td {
    width: 33%;
}
.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

input[type=submit] {
    width: 18em;  height: 4em;
    background-color:rgb(64, 125, 204);
}
input[type=button] {
    width: 18em;  height: 3em;
    background-color:rgb(64, 125, 204);
}
input[type=text] {
    width: 18em;  height: 3em;
    background-color:whitesmoke;
}
textarea{
    width: 18em; height:3em;
}
button {
    width: 18em;  height: 3em;
}
select {
  width: 18em;  height: 3em;
}
  </style>

</head> 
{% if user.is_authenticated %}

<center>

<script>
       function htmlDecode(str) {
     const doc = new DOMParser().parseFromString(str, 'text/html');
     return doc.documentElement.textContent;
}

       
function makeAdataframe(arr){
 var cols = [];
for (var k in s) {
  for (var c in s[k]) {
    if (cols.indexOf(c)===-1) cols.push(c);
  }
}
var html = '<table id ="dataframe" class="w3-table w3-striped w3-bordered"  > ><thead><tr>'+
    cols.map(function(c){ return '<th>'+c+'</th>' }).join('')+
    '</tr></thead><tbody>';
for (var l in s) {
  html += '<tr>'+cols.map(function(c){ return '<td>'+(s[l][c]||'')+'</td>' }).join('')+'</tr>';
}
html += '</tbody></table>';
  
document.getElementById("element").innerHTML = html
// document.body.innerHTML = html;
}

</script>
<script  type="text/javascript" language="JavaScript" charset="UTF-8">
let x = "{{d2}}"
var data = htmlDecode(x)
console.log(data)
data = data.replace(/\n/g,' ');
data = data.replace(/[^\x00-\x7F]/g, "");
data = data.replace("'", "")
data = JSON.parse(data)
console.log(data.constructor.name)
console.log(data)
for (var s of data) { 
  console.log(s)
  console.log(s.constructor.name)
  console.table(s)
}
</script>
<div id="element"></div>

    <script>
   $(document).ready(function () {
$('#dtVerticalScrollExample').DataTable({
"scrollY": "200px",
"scrollCollapse": true,
});
$('.dataTables_length').addClass('bs-select');
});
// makeAdataframe(data)
//       for (var s of data) { 
//   console.log(s.constructor.name)
//   console.table(s)
//   makeAdataframe(s)
// }
  // for (var i = 0; i <data.length; i++) {
  //           console.table(data[i]);
  //           makeAdataframe(data[i])
  //       }
  
    </script>
<!-- 
<input type="button" value="Get Trait Name" onmousedown="getSelectedTraitName();">

<form name="traitNameForm">
    <textarea name="selectedTraitName" id="trait_name" rows="2" cols="10"></textarea>
</form>

<input type="button" value="Get Trait Value" onmousedown="getSelectedTraitValue();">

<form name="traitValueForm">
    <textarea name="selectedTraitValue" id="trait_value" rows="2" cols="10"></textarea>
</form>
<p><b>Select Trait Unit from the Drop-down Menu</b></p>
<select name="trait unit" id="trait_unit" value="Select Trait Unit">
  <option value="g">g</option>
  <option value="kg">kg</option>
  <option value="lb">lb</option>
  <option value="oz">oz</option>
  <option value="mm">mm</option>
  <option value="cm">cm</option>
  <option value="m">m</option>
  <option value="in">in</option>
  <option value="ft">ft</option>
  <option value="not specicied">not specified</option>
</select>
<p><b>Select Sex from the Drop-down Menu</b></p> 

<select name="sex" id="sex" value="Select Sex">
  <option value="female">female</option>
  <option value="male">male</option>
  <option value="not specicied">not specified</option>
</select>
<form name="speciesForm">
  <label for="species"><b>Enter Verbatim Scientific Name and Post</b> </label>
  <input id="species" type="text" name="verbatimScientificName">
  <input class="post"  type="button" value="Post" onmousedown="fetchValues()">
</form>
 <table class="table table-dark table-striped" id='dataframeTable'>  -->
        <!-- jinja2 Technique -->

{% if d %}   
{% for i in d %}            
<div id="element"></div>
<input  type="button" float="left" value="Get Trait Name" onmousedown="getSelectedTraitName();">
<form  name="traitNameForm">
    <textarea name="selectedTraitName" id="trait_name" rows="2" cols="10"></textarea>
</form>
<div float="right">
<input type="button"  float="right" value="Get Trait Value" onmousedown="getSelectedTraitValue();">
<form name="traitValueForm" float="right">
    <textarea name="selectedTraitValue" float="right" id="trait_value" rows="2" cols="10"></textarea>
</form>
</div>
<p><b>Select trait unit  </b></p>
<select name="trait unit"   style="float:left;"id="trait_unit" value="Select Trait Unit">
  <option value="g">g</option>
  <option value="kg">kg</option>
  <option value="lb">lb</option>
  <option value="oz">oz</option>
  <option value="mm">mm</option>
  <option value="cm">cm</option>
  <option value="m">m</option>
  <option value="in">in</option>
  <option value="ft">ft</option>
  <option value="not specicied">not specified</option>
</select>
<p></p>
<p></p>
<p ><b>Select sex for the species  </b></p>
<p></p>
<p></p>
<select name="sex"  style="float:left;" id="sex" value="Select Sex">
  <option value="female">female</option>
  <option value="male">male</option>
  <option value="not specicied">not specified</option>
</select>
<p></p>
<p></p>
<form name="speciesForm">
  <label for="species"><b>Enter verbatim scientific name</b> </label>
  <p></p>
  <input id="species" type="text" name="verbatimScientificName">
  <p></p>
  <input class="post"  type="button" value="Post" onmousedown="fetchValues()">
</form>
<p></p>
<p></p>
<H4 style="background-color: #2d9af3 ; color:white;" > Select values from the table below:</H4>

<div class="container" style="overflow-x:auto;" > 
<div class="table-wrapper-scroll-y my-custom-scrollbar">
<!-- <table class="table table-dark table-striped" id='dataframeTable'>  -->
 
  <table  class="table table-bordered table-striped mb-0" id='dataframeTable'> 
    <!-- <table  border="1" class="w3-table  border-collapse  w3-striped w3-bordered">  -->
    <thead> 

      <tr> 
        <th> </th> 
        <th> </th> 
        <th></th> 
        <th></th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
      </tr> 
    </thead> 
    <tbody> 


   
        {% for a in i %}
      <tr> 

        <td>{{a.0}}</td> 

        <td>{{a.1}}</td> 

        <td>{{a.2}}</td> 

        <td>{{a.3}}</td> 

        <td>{{a.4}}</td> 

        <td>{{a.5}}</td> 
        <td>{{a.6}}</td> 
        <td>{{a.7}}</td> 
        <td>{{a.8}}</td> 
        <td>{{a.9}}</td> 
        <td>{{a.10}}</td> 
        <td>{{a.11}}</td> 
        <td>{{a.12}}</td> 
        <td>{{a.13}}</td> 
        <td>{{a.14}}</td> 
        <td>{{a.15}}</td> 
        <td>{{a.16}}</td> 
      </tr> 

      {% endfor %}   

    </tbody> 
       
  </table> 
</div>

</div>  
<script script type="text/javascript">
  // Function to get the Selected Text 
  function getSelectedTraitName() {
      var selectedText = '';
      // window.getSelection 
      if (window.getSelection) {
          selectedText = window.getSelection();
      } // document.getSelection 
      else if (document.getSelection) {
          selectedText = document.getSelection();
          alert (selectedText.text);
      } // document.selection 
      else if (document.selection) {
          selectedText = document.selection.createRange().text;
      } else return; // To write the selected text into the textarea 


     document.getElementById('trait_name').value = selectedText;

      // document.traitNameForm.selectedTraitName.value = selectedText;
    
  }
  function getSelectedTraitValue() {
      var selectedText = '';
      // window.getSelection 
      if (window.getSelection) {
          selectedText = window.getSelection();
      } // document.getSelection 
      else if (document.getSelection) {
          selectedText = document.getSelection();
      } // document.selection 
      else if (document.selection) {
          selectedText = document.selection.createRange().text;
      } else return; // To write the selected text into the textarea 

      document.traitValueForm.selectedTraitValue.value = selectedText;
      
  }
  function getSelectedTraitUnit() {
      var selectedText = '';
      // window.getSelection 
      if (window.getSelection) {
          selectedText = window.getSelection();
      } // document.getSelection 
      else if (document.getSelection) {
          selectedText = document.getSelection();
      } // document.selection 
      else if (document.selection) {
          selectedText = document.selection.createRange().text;
      } else return; // To write the selected text into the textarea 
      document.traitUnitForm.selectedTraitUnit.value = selectedText;
  }
</script>

<script>
      




    </script>

{% endfor %} 
{% endif %}  

</center> 

<script>
        function getCookie(name) {
            let cookie = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return cookie ? cookie[2] : null;
        }

        function fetchValues() {
            URL = "{% url 'post_url' %}"
          let trait_unit = ""
          let sex = ""
           var species = document.getElementById("species").value
           var trait_name = document.getElementById("trait_name").value
           var trait_value = document.getElementById("trait_value").value
           trait_unit= document.getElementById("trait_unit").value
           sex = document.getElementById("sex").value
       

            var data = {
                species: document.getElementById("species").value, 
                trait_name: document.getElementById("trait_name").value, 
                trait_value: document.getElementById("trait_value").value,
                trait_unit,
                sex        
            };

            fetch(URL, {
                    method: 'post',
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                        'Accept': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                .then((res) => {
                    return res.json()
                })
                .then(json => {
                    window.alert(`successfully posted`)
                })
                .catch(err => {
                    alert(`Error: ${err}`, 'danger');
                    console.log(err)
                });

        }
    </script>




<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br>
{% endif %}
{% endblock content %}