{% extends "base.html" %}
<p></p>
<p></p>
{% block content %}
<p></p>
<p></p>
{% load static %}
<title>TableView </title> 

<meta charset="utf-8"> 

<meta name="viewport" content="width=device-width, initial-scale=1"> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 
<p></p>
<p></p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<head> 

  <title>TableView </title> 

  <meta charset="utf-8"> 

  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 
  <style>
table, th, td {
  border: 1px solid black;
}  
  /* table {
  height: 150px;
  width: 80%;

}
  th, td {
  padding: 15px;
  text-align: left;
  
} */ 
  </style>

</head> 
{% if user.is_authenticated %}

<center>

<script>
       function htmlDecode(str) {
     const doc = new DOMParser().parseFromString(str, 'text/html');
     return doc.documentElement.textContent;
}

       
function makeAdataframe(arr){
 var cols = [];
for (var k in s) {
  for (var c in s[k]) {
    if (cols.indexOf(c)===-1) cols.push(c);
  }
}
var html = '<table id ="dataframe" class="w3-table w3-striped w3-bordered"  > ><thead><tr>'+
    cols.map(function(c){ return '<th>'+c+'</th>' }).join('')+
    '</tr></thead><tbody>';
for (var l in s) {
  html += '<tr>'+cols.map(function(c){ return '<td>'+(s[l][c]||'')+'</td>' }).join('')+'</tr>';
}
html += '</tbody></table>';
  
document.body.innerHTML = html;
}
</script>
{% for df in d2 %}
<script  type="text/javascript" language="JavaScript" charset="UTF-8">

 var data = htmlDecode("{{df}}")
 console.log(data.constructor.name)
 console.log(data)
 s = JSON.parse(data);
 console.log(s.constructor.name)
 console.table(s)
 
//  makeAdataframe(s)

</script>

{% endfor %}
{% if d %}   
{% for i in d %} 

<div class="container" style="overflow-x:auto;" > 
  <h2 class="text-center" id="dataframe" ><u>Dataframe </u></h2><br>             

</script>
  <!-- <table class="table table-dark table-striped" id='dataframeTable'>  -->
   
    <table  border="1" class="w3-table w3-striped w3-bordered"> 
    <thead> 

      <tr> 
        <th> </th> 
        <th> </th> 
        <th></th> 
        <th></th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
      </tr> 
    </thead> 
    <tbody> 

    <!-- jinja2 Technique -->
   
        {% for a in i %}
      <tr> 

        <td>{{a.0}}</td> 

        <td>{{a.1}}</td> 

        <td>{{a.2}}</td> 

        <td>{{a.3}}</td> 

        <td>{{a.4}}</td> 

        <td>{{a.5}}</td> 
        <td>{{a.6}}</td> 
        <td>{{a.7}}</td> 
        <td>{{a.8}}</td> 
        <td>{{a.9}}</td> 
        <td>{{a.10}}</td> 
        <td>{{a.11}}</td> 
        <td>{{a.12}}</td> 
        <td>{{a.13}}</td> 
        <td>{{a.14}}</td> 
        <td>{{a.15}}</td> 
        <td>{{a.16}}</td> 
      </tr> 

      {% endfor %}   

    </tbody> 
       
  </table> 


</div> 
<script script type="text/javascript">
  // Function to get the Selected Text 
  function getSelectedTraitName() {
      var selectedText = '';
      // window.getSelection 
      if (window.getSelection) {
          selectedText = window.getSelection();
      } // document.getSelection 
      else if (document.getSelection) {
          selectedText = document.getSelection();
          alert (selectedText.text);
      } // document.selection 
      else if (document.selection) {
          selectedText = document.selection.createRange().text;
      } else return; // To write the selected text into the textarea 


     document.getElementById('trait_name').value = selectedText;

      // document.traitNameForm.selectedTraitName.value = selectedText;
    
  }
  function getSelectedTraitValue() {
      var selectedText = '';
      // window.getSelection 
      if (window.getSelection) {
          selectedText = window.getSelection();
      } // document.getSelection 
      else if (document.getSelection) {
          selectedText = document.getSelection();
      } // document.selection 
      else if (document.selection) {
          selectedText = document.selection.createRange().text;
      } else return; // To write the selected text into the textarea 

      document.traitValueForm.selectedTraitValue.value = selectedText;
      
  }
  function getSelectedTraitUnit() {
      var selectedText = '';
      // window.getSelection 
      if (window.getSelection) {
          selectedText = window.getSelection();
      } // document.getSelection 
      else if (document.getSelection) {
          selectedText = document.getSelection();
      } // document.selection 
      else if (document.selection) {
          selectedText = document.selection.createRange().text;
      } else return; // To write the selected text into the textarea 
      document.traitUnitForm.selectedTraitUnit.value = selectedText;
  }
</script>

<script>
      

//   var columns = addAllColumnHeaders(myList, selector);

//   for (var i = 0; i < myList.length; i++) {
//     var row$ = $('<tr/>');
//     for (var colIndex = 0; colIndex < columns.length; colIndex++) {
//       var cellValue = myList[i][columns[colIndex]];
//       if (cellValue == null) cellValue = "";
//       row$.append($('<td/>').html(cellValue));
//     }
//     $(selector).append(row$);
//   }
// }

// // Adds a header row to the table and returns the set of columns.
// // Need to do union of keys from all records as some records may not contain
// // all records.

// function addAllColumnHeaders(myList, selector) {
//   var columnSet = [];
//   var headerTr$ = $('<tr/>');

//   for (var i = 0; i < myList.length; i++) {
//     var rowHash = myList[i];
//     for (var key in rowHash) {
//       if ($.inArray(key, columnSet) == -1) {
//         columnSet.push(key);
//         headerTr$.append($('<th/>').html(key));
//       }
//     }
//   }
//   $(selector).append(headerTr$);

//   return columnSet; }

    </script>
{% endfor %} 
{% endif %} 
<div id="element"></div>

<input type="button" value="Get Trait Name" onmousedown="getSelectedTraitName();">

<form name="traitNameForm">
    <textarea name="selectedTraitName" id="trait_name" rows="2" cols="10"></textarea>
</form>

<input type="button" value="Get Trait Value" onmousedown="getSelectedTraitValue();">

<form name="traitValueForm">
    <textarea name="selectedTraitValue" id="trait_value" rows="2" cols="10"></textarea>
</form>
<input type="button" value="Get Trait Unit" onmousedown="getSelectedTraitUnit();">

<!-- <form name="traitUnitForm">
    <textarea name="selectedTraitUnit" id="trait_unit" rows="2" cols="10"></textarea>
</form> -->
<form name="traitUnitForm">
  <label for="trait_unit">Trait Unit:</label>
  <input type="text" id="trait_unit" name="trait_unit"><br><br>
  <input type="submit" value="Trait Unit">
</form> 
<label for="trait unit">Choose a trait unit:</label>

<select name="trait unit" id="trait_unit">
  <option value="not specicied">Not Specified</option>
  <option value="grams">Grams</option>
  <option value="Kilograms">Kilograms</option>
  <option value="Ounces">Audi</option>
</select>
<form name="speciesForm">
  <label for="species">Enter verbatimScientificName and post </label>
  <input id="species" type="text" name="verbatimScientificName">
  <input class="post"  type="button" value="Post" onmousedown="fetchValues()">
</form>
<!-- <button class="post" onClick="fetchValues()">Confirm Post</button> -->
</center>

<script>
        function getCookie(name) {
            let cookie = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return cookie ? cookie[2] : null;
        }

        function fetchValues() {
            URL = "{% url 'post_url' %}"
          let trait_unit = ""
           var species = document.getElementById("species").value
           var trait_name = document.getElementById("trait_name").value
           var trait_value = document.getElementById("trait_value").value
           trait_unit= document.getElementById("trait_unit").value
           console.log(JSON.stringify(species))
           console.log(JSON.stringify(trait_name))
           console.log(trait_value)
           console.log(JSON.stringify(trait_unit))

            var data = {
                species: document.getElementById("species").value, 
                trait_name: document.getElementById("trait_name").value, 
                trait_value: document.getElementById("trait_value").value,
                trait_unit
                // trait_unit: document.getElementById("trait_unit").value            
            };

            fetch(URL, {
                    method: 'post',
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                        'Accept': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                .then((res) => {
                    return res.json()
                })
                .then(json => {
                    window.alert(`successfully posted`)
                })
                .catch(err => {
                    alert(`Error: ${err}`, 'danger');
                    console.log(err)
                });

        }
    </script>




<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br>
{% endif %}
{% endblock content %}