{% extends "base.html" %}
<p></p>
<p></p>
{% block content %}
<p></p>
<p></p>
{% load static %}
<p></p>
<p></p>
{% if user.is_authenticated %}
<script>
    function htmlDecode(str) {
        const doc = new DOMParser().parseFromString(str, "text/html");
        return doc.documentElement.textContent;
    }
</script>
<h1>DataFrame in Dataframes</h1>

{% for html_table in html_dataframes %}
  {{html_table}}
<script>
    console.log(JSON.stringify)
</script>
{% endfor %}

<script>
    var arr = '{{data_frames}}'
    console.log(arr.constructor.name)
    console.log(arr)
    htmlDecode(JSON.stringify(arr))
    console.table(arr)
</script>
{% for df in data_frames %}
    {% for key, value in dfe.iterrows%}

    <td>    {{key.0}}</td><td>   {{value.0}}</td>
    {% endfor %}
{% endfor %}
<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br>
{% endif %}
{% endblock content %}