{% extends "base.html" %}
<p></p>
<p></p>
{% block content %}
<p></p>
<p></p>
{% load static %}
<p></p>
<p></p>
{% if user.is_authenticated %}

<h1>Tables in Table_list</h1>

{% for table in table_list %}
<p>{{table}}</p>
<script charset='charset="utf-8"'>
    var table = '{{table}}'
    console.log('is this code reacheable?')
    console.log(table.constructor.name)
    console.log(JSON.stringify(table).replace("&" + "#" + "x27;", "g"), "'")
</script>{% empty %}
<p></p>
<p></p>
{% endfor %}
<p></p>
<p></p>
<h1>Tables in json_tables</h1>
{% for table in json_tables %}
<p>{{table.json_table}} </p>

<script charset='charset="utf-8"'>
    console.log('how about this section: is this code reacheable?')
    var table = '{{table.json_table}}'
    console.log(table.constructor.name)
    console.table(JSON.stringify(table).replace("&" + "#" + "x27;", "'"))
</script>
<p></p>
<p></p>
{% empty %}
<p></p>
<H4>
    json_tables second try
</H4>
{% for key1,value1 in json_tables %}
<div class="section">
    <h4>
        <!-- <a href="#" class="section_toggle"></a> {{ key1|title }}:</h4> -->
        <table class="table table-condensed">
            {% for key2,value2 in value1 %}
            <p>{{ key2 }} </p>
            <p></p>
            {% endfor %}
        </table>
</div>

{% endfor %}
<p></p>
<p></p>
{% endfor %}
<p></p>
<p></p>

<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br> {% endif %} {% endblock content %}