{% extends "base.html" %} {% block content %} {% load static %} {% if user.is_authenticated %}

<h1>Tables</h1>
<script>
    var
        listOfTables =
        '{{table_list}}'
    console.log(listOfTables.constructor.name)
</script>
<table>
    < {% for table in table_list %} {% for item_1, item_2, item_3, item_4, item_5 in table.items %} <tr>
        <td>{{ item_1 }}</td>
        <td>{{ item_2 }}</td>
        <td>{{ item_1 }}</td>
        <td>{{ item_2 }}</td>
        <td>{{ item_1 }}</td>
        <td>{{ item_2 }}</td>
        </tr>
        {% endfor %} {% endfor %}
</table>
<script>
    var table = '{{table}}'
    var tableArr = table.split(',');
    var tableArrSplit =
        tableArr.split(";")
    console.table(tableArrSplit);
</script>{% empty %} {% endfor %}

<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br> {% endif %} {% endblock content %}