{% extends "base.html" %}
<p></p>
<p></p>
{% block content %}
<p></p>
<p></p>
{% load static %}
<title>TableView </title> 

<meta charset="utf-8"> 

<meta name="viewport" content="width=device-width, initial-scale=1"> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 
<p></p>
<p></p>
{% if user.is_authenticated %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<head> 

  <title>TableView </title> 

  <meta charset="utf-8"> 

  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 

</head> 
<script>
       function htmlDecode(str) {
     const doc = new DOMParser().parseFromString(str, 'text/html');
     return doc.documentElement.textContent;
}

function makeAdataframe(arr){
 var cols = [];
for (var k in s) {
  for (var c in s[k]) {
    if (cols.indexOf(c)===-1) cols.push(c);
  }
}
var html = '<table id ="dataframe" border="1" class="table table-dark table-striped"> ><thead><tr>'+
    cols.map(function(c){ return '<th>'+c+'</th>' }).join('')+
    '</tr></thead><tbody>';
for (var l in s) {
  html += '<tr>'+cols.map(function(c){ return '<td>'+(s[l][c]||'')+'</td>' }).join('')+'</tr>';
}
html += '</tbody></table>';
  
document.body.innerHTML = html;
}
</script>
{% for df in d2 %}
<script  type="text/javascript" language="JavaScript" charset="UTF-8">

 var data = htmlDecode("{{df}}")
 console.log(data.constructor.name)
 console.log(data)
 s = JSON.parse(data);
 console.log(s.constructor.name)
 console.table(s)
 
//  makeAdataframe(s)
</script>
{% endfor %}
{% if d %}   
{% for i in d %} 

<div class="container"> 

  <h2 class="text-center"><u>Data Frame </u></h2><br>             

  <table class="table table-dark table-striped" id='datatable'> 
<!--    
    <table  border="1" class="dataframe">  -->
    <thead> 

      <tr> 
        <th> </th> 
        <th> </th> 
        <th></th> 
        <th></th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> </th> 
        <th> 11</th> 
        <th> 12</th> 
        <th> 13</th> 
        <th> 14</th> 
        <th> 15</th> 
        <th> 16</th> 
      </tr> 
    </thead> 
    <tbody> 

    <!-- jinja2 Technique -->
   
        {% for a in i %}
      <tr> 

        <td>{{a.0}}</td> 

        <td>{{a.1}}</td> 

        <td>{{a.2}}</td> 

        <td>{{a.3}}</td> 

        <td>{{a.4}}</td> 

        <td>{{a.5}}</td> 
        <td>{{a.6}}</td> 
        <td>{{a.7}}</td> 
        <td>{{a.8}}</td> 
        <td>{{a.9}}</td> 
        <td>{{a.10}}</td> 
        <td>{{a.11}}</td> 
        <td>{{a.12}}</td> 
        <td>{{a.13}}</td> 
        <td>{{a.14}}</td> 
        <td>{{a.15}}</td> 
        <td>{{a.16}}</td> 
      </tr> 
      {% endfor %}   

    </tbody> 

  </table> 
  

</div> 
<script>
      

//   var columns = addAllColumnHeaders(myList, selector);

//   for (var i = 0; i < myList.length; i++) {
//     var row$ = $('<tr/>');
//     for (var colIndex = 0; colIndex < columns.length; colIndex++) {
//       var cellValue = myList[i][columns[colIndex]];
//       if (cellValue == null) cellValue = "";
//       row$.append($('<td/>').html(cellValue));
//     }
//     $(selector).append(row$);
//   }
// }

// // Adds a header row to the table and returns the set of columns.
// // Need to do union of keys from all records as some records may not contain
// // all records.

// function addAllColumnHeaders(myList, selector) {
//   var columnSet = [];
//   var headerTr$ = $('<tr/>');

//   for (var i = 0; i < myList.length; i++) {
//     var rowHash = myList[i];
//     for (var key in rowHash) {
//       if ($.inArray(key, columnSet) == -1) {
//         columnSet.push(key);
//         headerTr$.append($('<th/>').html(key));
//       }
//     }
//   }
//   $(selector).append(headerTr$);

//   return columnSet; }

    </script>
{% endfor %} 
{% endif %} 

<script>
    function htmlDecode(str) {
        const doc = new DOMParser().parseFromString(str, "text/html");
        return doc.documentElement.textContent;
    }
</script>


<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br>
{% endif %}
{% endblock content %}