{% extends "base.html" %}
<p></p>
<p></p>
{% block content %}
<p></p>
<p></p>
{% load static %}
<p></p>
<p></p>
{% if user.is_authenticated %}

<h1>Tables in Table_list</h1>

{% for table in table_list %}
<p>{{table}}</p>
<script charset='charset="utf-8"'>
    var table = '{{table}}'
    console.log('is this code reacheable?')
    console.log(table.constructor.name)
    console.log(JSON.stringify(table))
    console.log(JSON.parse(table))
</script>{% empty %} {% endfor %}
<p></p>
<p></p>
<h1>Tables in json_tables</h1>
{% for table in json_tables %}
<p>{{table.json_table}} </p>

<script charset='charset="utf-8"'>
    var table = '{{table.json_table}}'
    console.log(table.constructor.name)
    console.table(JSON.strigfy(table))
</script>{% empty %}
<p></p>
<p></p> {% endfor %}
<p></p>
<p></p>

<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br> {% endif %} {% endblock content %}