{% extends "base.html" %} {% block content %} {% load static %} {% if user.is_authenticated %}

<h1>Tables</h1>

{% for table in table_list %}{{table}}
<script charset='charset="utf-8"'>
    var table = '{{table}}'
    console.log(table.constructor.name)
    console.table(table)
</script>{% empty %} {% endfor %} {% for table in json_list %}{{table.json_table}}

<script charset='charset="utf-8"'>
    var table = '{{table.json_table}}'
    console.log(table.constructor.name)
    console.table(table)
</script>{% empty %} {% endfor %} {% for table in html_list %}{{table}}

<script charset='charset="utf-8"'>
    var table = '{{table}}'
    console.log(table.constructor.name)
    console.table(table)
</script>{% empty %} {% endfor %}

<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br> {% endif %} {% endblock content %}