{% extends "base.html" %} {% block content %} {% load static %} {% if user.is_authenticated %}

<h1>Tables</h1>
<script>
    var
        listOfTables =
        '{{table_list}}'
    console.log(listOfTables.constructor.name)
</script>
<table>
    {% for table in table_list %}
    <tr>
        <td>{{ table }}</td>
    </tr>
</table>
<script>
    var table = '{{table}}'
    var tableArr = table.split(',');
    for (var cell in tableArr) {
        row = cell.split(";")
        console.(row)
    }
</script>
{% endfor %}

<br>
<a href="{% url 'pdf_list' %}" class="w3-btn w3-black">Back to pdf list</a>
<br> {% endif %} {% endblock content %}