{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript"
      src="<?php echo get_option('siteurl') ?>/js/sprinkle.js"></script>
    <script language="JavaScript" type="text/javascript"
      src="<?php echo get_option('siteurl') ?>/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript"
      src="<?php echo get_option('siteurl') ?>/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  </head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  {{traitvalues}}
  <script>
      console.log({{traitvalues}})
  </script>
{% endblock content %}