<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>major reason is that TransCF only considers the items rated by</th>
      <th>appears to play an important role in improving CML’s performance.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a user and the users who rated an item as the neighbors of the</td>
      <td>Fifth, DeepAE outperforms NCF. The heuristic weighting function</td>
    </tr>
    <tr>
      <th>1</th>
      <td>user and item, respectively, which neglects the user-user/item-item</td>
      <td>of DeepAE can impose useful penalties to errors that occur during</td>
    </tr>
    <tr>
      <th>2</th>
      <td>relations. PMLAM models the user-user/item-item relations by two</td>
      <td>training when positive items are assigned lower prediction scores.</td>
    </tr>
  </tbody>
</table>