<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Amazon-CDs</th>
      <th>R@20</th>
      <th>N@20</th>
      <th>SRDP@20</th>
      <th>Amazon-Movies</th>
      <th>R@20.1</th>
      <th>N@20.1</th>
      <th>SRDP@20.1</th>
      <th>Amazon-Beauty</th>
      <th>R@20.2</th>
      <th>N@20.2</th>
      <th>SRDP@20.2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>BPRMF</td>
      <td>0.0794</td>
      <td>0.0501</td>
      <td>0.0097</td>
      <td>BPRMF</td>
      <td>0.0667</td>
      <td>0.0436</td>
      <td>0.0103</td>
      <td>BPRMF</td>
      <td>0.1312</td>
      <td>0.0778</td>
      <td>0.0100</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NMF</td>
      <td>0.1008</td>
      <td>0.0604</td>
      <td>0.0109</td>
      <td>NMF</td>
      <td>0.0820</td>
      <td>0.0511</td>
      <td>0.0110</td>
      <td>NMF</td>
      <td>0.1152</td>
      <td>0.0692</td>
      <td>0.0081</td>
    </tr>
    <tr>
      <th>2</th>
      <td>GC-MC</td>
      <td>0.0791</td>
      <td>0.0473</td>
      <td>0.0093</td>
      <td>GC-MC</td>
      <td>0.0638</td>
      <td>0.0401</td>
      <td>0.0084</td>
      <td>GC-MC</td>
      <td>0.1082</td>
      <td>0.0659</td>
      <td>0.0077</td>
    </tr>
    <tr>
      <th>3</th>
      <td>PinSage</td>
      <td>0.1265</td>
      <td>0.0799</td>
      <td>0.0134</td>
      <td>PinSage</td>
      <td>0.0872</td>
      <td>0.0559</td>
      <td>0.0114</td>
      <td>PinSage</td>
      <td>0.1378</td>
      <td>0.0821</td>
      <td>0.0138</td>
    </tr>
    <tr>
      <th>4</th>
      <td>PinSage-lstm</td>
      <td>0.1269</td>
      <td>0.0805</td>
      <td>0.0135</td>
      <td>PinSage-lstm</td>
      <td>0.0886</td>
      <td>0.0567</td>
      <td>0.0115</td>
      <td>PinSage-lstm</td>
      <td>0.1354</td>
      <td>0.0786</td>
      <td>0.0135</td>
    </tr>
    <tr>
      <th>5</th>
      <td>NGCF</td>
      <td>0.1258</td>
      <td>0.0792</td>
      <td>0.0129</td>
      <td>NGCF</td>
      <td>0.0866</td>
      <td>0.0555</td>
      <td>0.0112</td>
      <td>NGCF</td>
      <td>0.1513</td>
      <td>0.0917</td>
      <td>0.0151</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Base</td>
      <td>0.1455</td>
      <td>0.0907</td>
      <td>0.0161</td>
      <td>Base</td>
      <td>0.1023</td>
      <td>0.0663</td>
      <td>0.0132</td>
      <td>Base</td>
      <td>0.1432</td>
      <td>0.0869</td>
      <td>0.0145</td>
    </tr>
    <tr>
      <th>7</th>
      <td>BGCF</td>
      <td>0.1506</td>
      <td>0.0948</td>
      <td>0.0168</td>
      <td>BGCF</td>
      <td>0.1066</td>
      <td>0.0693</td>
      <td>0.0139</td>
      <td>BGCF</td>
      <td>0.1534</td>
      <td>0.0912</td>
      <td>0.0153</td>
    </tr>
  </tbody>
</table>