<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Dataset BEAUTY</th>
      <th>GAMES</th>
      <th>STEAM</th>
      <th>ML-1M</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Metric Recall@10 NDCG@10</td>
      <td>Recall@10 NDCG@10</td>
      <td>Recall@10 NDCG@10</td>
      <td>Recall@10 NDCG@10</td>
    </tr>
    <tr>
      <th>1</th>
      <td>(A) POPRec 0.4003 0.2277</td>
      <td>0.4724 0.2779</td>
      <td>0.7172 0.4535</td>
      <td>0.4329 0.2377</td>
    </tr>
    <tr>
      <th>2</th>
      <td>(B) BPR 0.3775 0.2183</td>
      <td>0.4853 0.2875</td>
      <td>0.7061 0.4436</td>
      <td>0.5781 0.3287</td>
    </tr>
    <tr>
      <th>3</th>
      <td>(C) FMC 0.3771 0.2477</td>
      <td>0.6358 0.4456</td>
      <td>0.7731 0.5193</td>
      <td>0.6983 0.4676</td>
    </tr>
    <tr>
      <th>4</th>
      <td>(D) FPMC 0.4310 0.2891</td>
      <td>0.6802 0.4680</td>
      <td>0.7710 0.5011</td>
      <td>0.7599 0.5176</td>
    </tr>
    <tr>
      <th>5</th>
      <td>(E) TRANSREC 0.4607 0.3020</td>
      <td>0.6838 0.4557</td>
      <td>0.7624 0.4852</td>
      <td>0.6413 0.3969</td>
    </tr>
    <tr>
      <th>6</th>
      <td>(F) GRU4REC 0.2125 0.1203</td>
      <td>0.2938 0.1837</td>
      <td>0.4190 0.2691</td>
      <td>0.5581 0.3381</td>
    </tr>
    <tr>
      <th>7</th>
      <td>(G) STAMP 0.4607 0.3020</td>
      <td>0.6838 0.4557</td>
      <td>0.7624 0.4852</td>
      <td>0.6413 0.3969</td>
    </tr>
    <tr>
      <th>8</th>
      <td>(H) GRU4REC+ 0.3949 0.2556</td>
      <td>0.6599 0.4759</td>
      <td>0.8018 0.5595</td>
      <td>0.7501 0.5513</td>
    </tr>
    <tr>
      <th>9</th>
      <td>(I) CASER 0.4264 0.2547</td>
      <td>0.5282 0.3214</td>
      <td>0.7874 0.5381</td>
      <td>0.7886 0.5538</td>
    </tr>
    <tr>
      <th>10</th>
      <td>(J) SASREC 0.4837 0.3220</td>
      <td>0.7434 0.5401</td>
      <td>0.8732 0.6293</td>
      <td>0.8233 0.5936</td>
    </tr>
    <tr>
      <th>11</th>
      <td>(K) HGN 0.4469 0.2994</td>
      <td>0.7164 0.5209</td>
      <td>0.7426 0.4871</td>
      <td>0.7584 0.5241</td>
    </tr>
    <tr>
      <th>12</th>
      <td>(L) SSE-SASREC 0.4878 0.3342</td>
      <td>0.7517 0.5535</td>
      <td>0.8697 0.6333</td>
      <td>0.8230 0.5995</td>
    </tr>
    <tr>
      <th>13</th>
      <td>(M) PT 0.3954 0.2449</td>
      <td>0.6427 0.4434</td>
      <td>0.7535 0.4853</td>
      <td>0.7658 0.5241</td>
    </tr>
    <tr>
      <th>14</th>
      <td>(N) SSE-PT 0.5028 0.3370</td>
      <td>0.7757 0.5660</td>
      <td>0.8772 0.6378</td>
      <td>0.8341 0.6281</td>
    </tr>
    <tr>
      <th>15</th>
      <td>(O) SSE-PT++ – –</td>
      <td>– –</td>
      <td>– –</td>
      <td>0.8389 0.6292</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2: Comparing SASRec, SSE-PT and SSE-PT++ on Movielens1M Dataset while varying the maximum length allow</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>sion of embeddings.</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Methods NDCG@10</td>
      <td>Recall@10 Max Len</td>
      <td>user dim item dim</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>SASREC 0.5769</td>
      <td>0.8045 100</td>
      <td>N/A 100</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>SASREC 0.5936</td>
      <td>0.8233 200</td>
      <td>N/A 50</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>21</th>
      <td>SASREC 0.5919</td>
      <td>0.8202 200</td>
      <td>N/A 100</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>SSE-PT 0.6142</td>
      <td>0.8212 100</td>
      <td>50 100</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>23</th>
      <td>SSE-PT 0.6191</td>
      <td>0.8358 200</td>
      <td>50 50</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>SSE-PT 0.6281</td>
      <td>0.8341 200</td>
      <td>50 100</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>25</th>
      <td>SSE-PT++ 0.6186</td>
      <td>0.8318 100</td>
      <td>50 100</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>26</th>
      <td>SSE-PT++ 0.6208</td>
      <td>0.8358 200</td>
      <td>50 50</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27</th>
      <td>SSE-PT++ 0.6292</td>
      <td>0.8389 200</td>
      <td>50 100</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>