<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>nan</th>
      <th>nan</th>
      <th>nan</th>
      <th>nan</th>
      <th>Recall@10</th>
      <th>nan</th>
      <th>nan</th>
      <th>nan</th>
      <th>nan</th>
      <th>nan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Books</td>
      <td>0.0553</td>
      <td>0.0568</td>
      <td>0.0817</td>
      <td>0.0730 0.0565</td>
      <td>NaN</td>
      <td>0.0754</td>
      <td>0.0581</td>
      <td>0.0885**</td>
      <td>8.32%</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Electronics</td>
      <td>0.0243</td>
      <td>0.0277</td>
      <td>0.0253</td>
      <td>0.0395 0.0299</td>
      <td>NaN</td>
      <td>0.0353</td>
      <td>0.0279</td>
      <td>0.0469***</td>
      <td>18.73%</td>
    </tr>
    <tr>
      <th>2</th>
      <td>CDs</td>
      <td>0.0730</td>
      <td>0.0759</td>
      <td>0.0736</td>
      <td>0.0922 0.0822</td>
      <td>NaN</td>
      <td>0.0851</td>
      <td>0.0793</td>
      <td>0.1129***</td>
      <td>22.45%</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Comics</td>
      <td>0.1966</td>
      <td>0.2092</td>
      <td>0.2324</td>
      <td>0.1934 0.1795</td>
      <td>NaN</td>
      <td>0.1967</td>
      <td>0.1713</td>
      <td>0.2417</td>
      <td>4.00%</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Gowalla</td>
      <td>0.0888</td>
      <td>0.0895</td>
      <td>0.1113</td>
      <td>0.0840 0.0935</td>
      <td>NaN</td>
      <td>0.0824</td>
      <td>0.0894</td>
      <td>0.1331***</td>
      <td>19.58%</td>
    </tr>
    <tr>
      <th>5</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NDCG@10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Books</td>
      <td>0.0391</td>
      <td>0.0404</td>
      <td>0.0590</td>
      <td>0.0519 0.0383</td>
      <td>NaN</td>
      <td>0.0542</td>
      <td>0.0415</td>
      <td>0.0671**</td>
      <td>13.72%</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Electronics</td>
      <td>0.0111</td>
      <td>0.0125</td>
      <td>0.0134</td>
      <td>0.0178 0.0117</td>
      <td>NaN</td>
      <td>0.0148</td>
      <td>0.0105</td>
      <td>0.0234***</td>
      <td>31.46%</td>
    </tr>
    <tr>
      <th>8</th>
      <td>CDs</td>
      <td>0.0383</td>
      <td>0.0402</td>
      <td>0.0411</td>
      <td>0.0502 0.0420</td>
      <td>NaN</td>
      <td>0.0461</td>
      <td>0.0423</td>
      <td>0.0619***</td>
      <td>23.30%</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Comics</td>
      <td>0.2247</td>
      <td>0.2395</td>
      <td>0.2595</td>
      <td>0.2239 0.1922</td>
      <td>NaN</td>
      <td>0.2341</td>
      <td>0.1834</td>
      <td>0.2753*</td>
      <td>6.08%</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Gowalla</td>
      <td>0.0806</td>
      <td>0.0822</td>
      <td>0.0944</td>
      <td>0.0611 0.0670</td>
      <td>NaN</td>
      <td>0.0611</td>
      <td>0.0823</td>
      <td>0.0984*</td>
      <td>4.23%</td>
    </tr>
  </tbody>
</table>