<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>distribution, where the uncertainties of learned user preferences</th>
      <th>Architecture</th>
      <th>nan</th>
      <th>nan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>R@10 N@10</td>
      <td>R@10 N@10</td>
    </tr>
    <tr>
      <th>1</th>
      <td>and item properties are captured by the covariance matrices.</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NaN</td>
      <td>U−I</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Fifth, PMLAM outperforms NCF and DeepAE. These are MLP-based</td>
      <td>(1) F ix + Deter_Emb</td>
      <td>0.0721 0.0371</td>
      <td>0.0241 0.0090</td>
    </tr>
    <tr>
      <th>4</th>
      <td>NaN</td>
      <td>U−I</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>recommendation methods with the ability to capture non-linear</td>
      <td>(2) F ix + Gauss_Emb</td>
      <td>0.0815 0.0434</td>
      <td>0.0296 0.0110</td>
    </tr>
    <tr>
      <th>6</th>
      <td>NaN</td>
      <td>U−I</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>user-item relationships, but they violate the triangle inequality</td>
      <td>(3) Ada + Deter_Emb</td>
      <td>0.0777 0.0415</td>
      <td>0.0338 0.0125</td>
    </tr>
    <tr>
      <th>8</th>
      <td>NaN</td>
      <td>U−I</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>when modeling user-item interaction. As a result, they can struggle</td>
      <td>(4) Ada -cat + Deter_Emb</td>
      <td>0.0408 0.0204</td>
      <td>0.0139 0.0055</td>
    </tr>
    <tr>
      <th>10</th>
      <td>NaN</td>
      <td>U−I</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>to capture the fine-grained user preference for particular items [12].</td>
      <td>(5) Ada -add + Deter_Emb</td>
      <td>0.0311 0.0158</td>
      <td>0.0050 0.0018</td>
    </tr>
    <tr>
      <th>12</th>
      <td>NaN</td>
      <td>U−I</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Other observations. First, all of the results reported for the</td>
      <td>(6) Ada + Gauss_Emb</td>
      <td>0.0856 0.0454</td>
      <td>0.0365 0.0155</td>
    </tr>
    <tr>
      <th>14</th>
      <td>NaN</td>
      <td>U−I U−U I−I</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Comics dataset are considerably better than those for the other</td>
      <td>(7) Ada + Fix + Fix</td>
      <td>0.0966 0.0526</td>
      <td>0.0429 0.0189</td>
    </tr>
    <tr>
      <th>16</th>
      <td>NaN</td>
      <td>(8) PMLAM</td>
      <td>0.1129 0.0619</td>
      <td>0.0469 0.0234</td>
    </tr>
  </tbody>
</table>