{% extends "base.html" %}
{% block content %}
{% load static %}
<h2>Parse the uploaded text</h2>
{% if user.is_authenticated %}
<p> {{user}} logged in</p>
<br><br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit">Parse!</button>
</form>  
    <br><br>
    {% if sentences %}
    <h3>Sentences with potential trait data:</h3>
    <br>
    <table>
    {% for sent in sentences %}
    <tr><td>{{sent.text}}</td></tr>
    {% endfor %}
  </table>
    {% endif %}
    <input type=button value="Previous Page" onClick="javascript:history.go(-1);">
{% else %} 
<p>Please login first</p>
{% endif %}
{% endblock content %}
