{% extends "base.html" %}
{% block content %}
{% load static %}

<h2>Parse the uploaded text</h2>
{% if user.is_authenticated %}
<p> {{user}} logged in</p>
<br><br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit">Parse!</button>
</form>  
    <br><br>
    
    <h3>Recognized scientific names:</h3>
    {% if scientificnames %}
    <table>
      {% for name in scientificnames %}
      <tr><td>{{name}}</td></tr>   
      {% endfor %}
    </table>
    {% endif %}
    <br>
    <h3><h3>Recognized quantities:</h3></h3>
    {% if quantities %}
    <table>
      {% for quantity in quantities %}
      <tr><td>{{quantity}}</td></tr>   
      {% endfor %}
    </table>
    {% endif %}
    {% if sentences %}
    <h3>Sentences with potential trait data:</h3>
    <br>
    <table>
    {% for sent in sentences %}
    <tr><td>{{sent.text}}</td></tr>
    {% endfor %}
  </table>
    {% endif %}
    <input type="button"
               value="Get Selection" 
               onmousedown="getSelectedText()">
    <form name="testform">
            <textarea name="selectedtext" 
                      rows="5"
                      cols="20"></textarea>
    </form>
    <input type=button value="Previous Page" onClick="javascript:history.go(-1);">
    <script>
      function getSelectedText() {
                var selectedText = '';
                if (window.getSelection) {
                    selectedText = window.getSelection();
                } else return;
                // To write the selected text into the textarea
                document.testform.selectedtext.value = selectedText;
                console.log("selText", selectedText)
              }
    </script>
    
{% else %} 
<p>Please login first</p>
{% endif %}
{% endblock content %}
