{% extends "base.html" %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
<h2>Pdfs</h2>

<p>
    <a href="{% url 'upload_pdf' %}" class="w3-btn w3-black">Upload pdf</a>
</p>

<table class="w3-table w3-striped w3-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Download</th>
            <th>Parse data from text</th>
            <th>Extract data from tables</th>
        </tr>
    </thead>
    <tbody>
        {% for pdf in pdfs %}
        <tr>
            <td>{{ pdf.title }}</td>
            <td>{{ pdf.author }}</td>
            <td>
                <a href="{{ pdf.pdf.url }}" class="w3-btn w3-black" target="_blank">Download PDF</a>
            </td>
            <td>
                <a href="{% url 'parse' %}" class="w3-btn w3-black">Parse text</a>
            </td>
            <td>
                <a href="{% url 'table' %}" class="w3-btn w3-black">Extract data from tables</a>
            </td>
            <td>
                <form method="post" action="{% url 'delete_pdf' pdf.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="w3-btn w3-black">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}


