{% extends "base.html" %}

{% block content %}
{% load static %}

<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
{% if user.is_authenticated %}


{% if table %}   
{% for i in table %} 
  <tr> 
    <td>{{i}}</td> 
    <!-- <td>{{i.Administration}}</td> 
    <td>{{i.Marketing_Spend}}</td> 
    <td>{{i.State}}</td> 
    <td>{{i.Profit}}</td>  -->
  </tr> 
{% endfor %} 
{% endif %} 

</div> 

<input type=button value="Previous Page" onClick="javascript:history.go(-1);">
{% endif %}
{% endblock content %}