{% extends "base.html" %}
{% block content %}
{% load static %} 

{% if user.is_authenticated %}
<!-- {% include "data.html" %}
<br><br> -->
{% if "data1.html" is None %} 
{% else %}
    {% include "data1.html" %}
{% endif %}
<br><br>
{% if "data2.html" is None %}
{% else %}
    {% include "data2.html" %}
{% endif %}
<br>
<br>
<a href="{% url 'index' %}">Home</a>
<br>
<a href="{% url 'upload' %}">Upload a pdf</a>
<br>
<a href="{% url 'parse' %}">Parse a sample text</a>
{% else %} 
<p>Please log in first</p>
{% endif %}
    
{% endblock content %} 

