{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if prev_scan %}
  <a href="{% url 'quality-control-check' current_workflow.id prev_scan.id %}" class="w3-btn w3-blue w3-round-large w3-margin-bottom">Previous</a>
{% endif %}
{% for w in workflows %}
  {% if w.1 is None %}
    <button class="w3-btn w3-grey w3-round-large w3-margin-bottom" disabled>{{ w.0.name }}</button>
  {% elif w.1 == 'checked' %}
    <a href="{% url 'quality-control-check' w.0.id scan.id %}" class="w3-btn w3-green w3-round-large w3-margin-bottom">{{ w.0.name }}</a>
  {% elif w.1 == 'waiting' %}
    <a href="{% url 'quality-control-check' w.0.id scan.id %}" class="w3-btn w3-yellow w3-round-large w3-margin-bottom">{{ w.0.name }}</a>
  {% else %}
    <a href="{% url 'quality-control-check' w.0.id scan.id %}" class="w3-btn w3-red w3-round-large w3-margin-bottom">{{ w.0.name }}</a>
  {% endif %}
{% endfor %}
{% if all_checked and scan.status == "FINISHED" %}
  <a href="{% url 'summary-check' scan.id %}" class="w3-btn w3-green w3-round-large w3-margin-bottom">Summary</a>
{% elif all_checked %}
  <a href="{% url 'summary-check' scan.id %}" class="w3-btn w3-yellow w3-round-large w3-margin-bottom">Summary</a>
{% else %}
  <a href="{% url 'summary-check' scan.id %}" class="w3-btn w3-red w3-round-large w3-margin-bottom">Summary</a>
{% endif %}
{% if next_scan %}
  <a href="{% url 'quality-control-check' current_workflow.id next_scan.id %}" class="w3-btn w3-blue w3-round-large w3-margin-bottom">Next</a>
{% endif %}

<div class="flex-container">
  {% if scan.image %}
    <a class="w3-margin scan-image" href="{{ scan.image.url }}" style="max-width: {{ scan.image.width }}px">
      <img src="{{ scan.image.url }}">
    </a>
  {% endif %}

  <form class="w3-margin scan-table" method="POST">
    {% csrf_token %}
    {% for question in questions %}
      {% for label, values in  question.items %}
        {% if values.1 != 'green' or values.2 != '' %}
          <label for="{{ label }}">{{ label }}:</label>
          {% if not checked %}
            <i class='fas fa-plus' style='font-size:20px;color:green;float:right;cursor:pointer'
              onClick="showHideTextField('{{ label }}')"></i><br>
            <select class="w3-{{ values.1 }}" name="{{ label }}" id="{{ label }}">
              {% for answer, count in values.0.items %}
                {% if count == 1 %}
                  <option value="{{ answer }}">{{ answer }} &nbsp ({{ count }} answer)</option>
                {% else %}
                  <option value="{{ answer }}">{{ answer }} &nbsp ({{ count }} answers)</option>
                {% endif %}
              {% endfor %}
            </select>
          {% else %}
            <select class="w3-grey" name="{{ label }}" id="{{ label }}" disabled>
              {% for answer, count in values.0.items %}
                {% if count == 1 %}
                  <option value="{{ answer }}">{{ answer }}</option>
                {% else %}
                  <option value="{{ answer }}">{{ answer }}</option>
                {% endif %}
              {% endfor %}
            </select>
          {% endif %}
          <div id="add-field-{{ label }}" style="display: none;">
            <input type="text" placeholder="Add a new option to {{ label }}" style="flex: 1;">
            <button class="w3-btn w3-dark-grey w3-round" type="button" style="margin: 8px 0px;"
              onClick="addOption('{{ label }}')">Add</button>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% if checked %}
      <button name="confirm-btn" class="w3-btn w3-blue w3-round-large" type="submit" disabled>Confirm!</button>
      <button name="waiting-btn" class="w3-btn w3-blue w3-round-large" type="submit" disabled>Set as waiting</button>
    {% else %}
      <button name="confirm-btn" class="w3-btn w3-blue w3-round-large" type="submit">Confirm!</button>
      <button name="waiting-btn" class="w3-btn w3-blue w3-round-large" type="submit">Set as waiting</button>
    {% endif %}
    <a class="w3-btn w3-blue w3-round-large" href={% url 'quality-control-list' %}>Back to list</a>
  </form>
</div>

{% endblock content%}