# This workflow runs tests on main and on successful testing deploys the changes to deployment branch
name: Django CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  final-test-and-deploy:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8]

    services:
      mariadb:
        image: mariadb:latest
        ports:
          - 3307:3307
        env:
          MYSQL_USER: django
          MYSQL_PASSWORD: password
          MYSQL_DATABASE: test
          MYSQL_ROOT_PASSWORD: password
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=2s --health-retries=3

    steps:
    - uses: actions/checkout@master
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python manage.py test --tag olematon_tagi
#        python manage.py test
    - name: Merge main -> deployment
      uses: devmasx/merge-branch@v1.3.1
      with:
        type: now
        from_branch: main
        target_branch: deployment
        github_token: ${{ github.token }}
